
.login {
    width: 450px;
    height: 900px;
    padding: 20px;
    background-color: #fafbfc;
    text-align:center;
}

.btn {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: primary;
}