@import '../../common.module.scss';
.birthdayInput {
    composes: input from '../../common.module.scss';
    margin-top: 10px;
    height: 60px;
}
.dobPlaceHolder {
    color: $tBlue;
}

.yymmdd {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.datePickerIcon {
    float: right;
    height: 20px;
}
